.gap-right {
    margin-right:10px;
}

.container {
    padding-top:15px;
    padding-bottom:30px;
    
}

.navbar-default .navbar-brand {
 background-color: #4aaaa5;
 color: #ffffff;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 25px; 
}
.footer-copyright {
    position:fixed;
    bottom:0;
    color: #CAC8C8;
    width:90%;
    background-color: #666666;
    border-top: 6px solid #4aaaa5;
    text-align: center;
    height: 5%;
}
h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom: 1px solid #dddddd;
    font-size: 2em;
}
h2{
    font-size:24px;
    color: #4aaaa5;
}
.caption {
    color: #ffffff;
    background-color: #4aaaa5;
    text-align: center;

}

.thumbnail .caption {
    color: #ffffff;
    font-size: 20px;
}

.imgclass:hover {
    opacity: 0.3;
  }

  .navbar-header:hover{
    /* background: lightgrey; */
    
  }

  .nav>li:hover{
    text-decoration: underline;
    }